.navbar {
    width: 100% !important;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-user {
    display: flex;
    margin: 0;
}

.poxuy {
    display: flex;
    flex-direction: row;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .poxuy {
        display: flex;
        flex-direction: column;
    }
}