.container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    button[type="submit"] {
        padding: 8px 12px;
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 14px;
        padding: 8px;
    }
}