{% extends 'base.html' %}
{% load static %}
{% block links %}
<link href="{% static 'css/diff.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Обновити години
{% endblock %}
{% block maincont %}
<div class="container">
    {% if form %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зберегти</button>
    </form>
{% else %}
    <p>Форма не доступна</p>
{% endif %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}
