{% extends "base.html" %}
{% load static %}
{% block links %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Домашня сторінка
{% endblock %}
{% block maincont %}

<body>
    <div class="home-body">
        <div class="dashboard-container">
            <h1>Функції</h1>
            <div class="dashboard-grid">
                <a href="{% url 'work_log' %}" style="text-decoration: none; color: inherit;">
                    <div class="dashboard-item">
                        <h3>Внести години за день</h3>
                        <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤТут ви можете ввести кількість годин та хвилин, які ви відпрацювали сьогодні.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}