{% extends "base.html" %}
{% load static %}
{% block links %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Домашня сторінка
{% endblock %}
{% block maincont %}

    <div class="home-body">
        <div class="dashboard-container">
            <h1>Функції</h1>
            <div class="dashboard-grid">
                <a href="{% url 'work_log' %}" style="text-decoration: none; color: inherit;">
                    <div class="dashboard-item">
                        <h3>Внести години за день</h3>
                        <p>Тут ви можете ввести кількість годин та хвилин, які ви відпрацювали сьогодні.</p>
                    </div>
                </a>
            </div>

            <div class="dashboard-grid">
                <a href="{% url 'update_hours' %}" style="text-decoration: none; color: inherit;">
                    <div class="dashboard-item">
                        <h3>Внести години за минулий місяць</h3>
                        <p>               Ввести кількість годин та хвилин, які у вас є з минулого місяця.               </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}