{% extends "base.html" %}
{% load static %}
{% block links %}
<link href="{% static 'css/global.css' %}" rel="stylesheet">
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
<link href="{% static 'css/assign.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Наступний магазин
{% endblock %}
{% block maincont %}

<body>
    <div class="cont">
        <h1>Assign Shop</h1>
        <div class="forms-container">
            <form method="post" action="{% url 'assign_shop' %}">
                {% csrf_token %}
                <label for="revisor">Select Revisor:</label>
                <select id="revisor" name="revisor_id">
                    {% for revisor in revisors %}
                    <option value="{{ revisor.id }}">{{ revisor.firstname }} {{ revisor.lastname }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Assign Shop</button>
            </form>

            <form method="post" action="{% url 'assign_that' %}">
                {% csrf_token %}
                <label for="revisor">Select Revisor:</label>
                <select id="revisor" name="revisor_id">
                    {% for revisor in revisors %}
                    <option value="{{ revisor.id }}">{{ revisor.firstname }} {{ revisor.lastname }}</option>
                    {% endfor %}
                </select>

                <label for="shop">Select Shop:</label>
                <select id="shop" name="shop_id">
                    {% for shop in shops %}
                    <option value="{{ shop.id }}">{{ shop.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Assign Shop</button>
            </form>
        </div>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <h1>Tasks</h1>
        <ul class="tasks">
            {% for task in tasks %}
            <li class="task">
                Shop: {{ task.shop }} <br> Revisor: {{ task.revisor }} <br> Assigned: {{ task.assigned_at }}
                {% if task.completed_at %}
                (Completed: {{ task.completed_at }})
                {% else %}
                <form action="{% url 'complete_task' task.id %}" method="post">
                    {% csrf_token %}
                    <label for="plus_{{ task.id }}">Plus:</label>
                    <input type="number" id="plus_{{ task.id }}" name="plus" step="0.01" required>
                    <label for="minus_{{ task.id }}">Minus:</label>
                    <input type="number" id="minus_{{ task.id }}" name="minus" step="0.01" required>
                    <button type="submit">Mark as Completed</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% endblock %}