/* Общие стили для формы */
#formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-list li {
    margin-bottom: 15px;
    width: 100%;
}

.form-label {
    display: block;
    color: #ccc; 
    margin-bottom: 5px;
}


input[type="text"], select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

input[type="text"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

select {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

select option {
    background-color: #000;
    color: #fff;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: rgba(255, 255, 255, 0.3);
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для списка магазинов */
#shop-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#shop-list li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000046;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
}

#shop-list li a,
#shop-list li form {
    margin-left: 10px;
}

#shop-list li form button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.5s;
}

#shop-list li form button:hover {
    background-color: #c0392b;
}

#shop-list li a {
    background-color: #3498db;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.5s;
}

#shop-list li a:hover {
    background-color: #2980b9;
}

#shop-list li .shop-name {
    margin-right: auto; 
}

/* Статусные классы */
.new-shop {
    background: linear-gradient(135deg, #0cb6ff 100%, #2c3e5048 0%); /* Тёмный фон с фиолетовым акцентом */
}

.transported-shop {
    background: linear-gradient(135deg, #8a0dd2 0%, #2c3e5048 100%);
}

.c1-shop {
    background: linear-gradient(135deg, #fb7908 0%, #2c3e5048 100%);
}

.away-shop {
    background: linear-gradient(135deg, #00ff1e 0%, #2c3e5048 100%);
}

.normal-shop {
    background: linear-gradient(135deg, #fefefe 0%, #2c3e5048 100%);
    color: black;
}

/* Стили для формы редактирования */
.edit-form {
    display: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для формы редактирования */
    padding: 15px;
    border-radius: 8px;
    width: 100%;
}

.edit-form input[type="text"], .edit-form select {
    flex: 1;
    margin-right: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для полей ввода */
}

.edit-form button {
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #45a049;
}

.cancel-edit {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.cancel-edit:hover {
    background-color: #c0392b;
}

.shop-name {
    flex: 1;
    display: inline-block;
}

/* Стили для мобильных устройств */
@media (max-width: 600px) {
    #shop-list li {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #shop-list li a,
    #shop-list li form {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }

    #shop-list li form button,
    #shop-list li a {
        width: 100%;
        text-align: center;
    }
}
