#formdiv {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #65636323;
    max-width: 600px;
    height: auto;
    display: flex;
    align-items: center;
}

.form-row {
    display: flex;
    
}

.form-row > p {
    flex: 1; /* This allows the form fields to take up available space */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    height: auto;
}

.submit-button:hover {
    background-color: #45a049;
}

.button {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}




#shop-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#shop-list li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000046;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
}

#shop-list li a,
#shop-list li form {
    margin-left: 10px;
}

#shop-list li form button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.5s;
}

#shop-list li form button:hover {
    background-color: #c0392b;
}

#shop-list li a {
    background-color: #3498db;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.5s;
}

#shop-list li a:hover {
    background-color: #2980b9;
}
#shop-list li .shop-name {
    margin-right: auto; 
}
.edit-form {
    display: none;
    flex: 1;
    display: flex;
    align-items: center;
}

.edit-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.edit-form button {
    margin-top: 5px;
}

.shop-name {
    flex: 1;
    display: inline-block;
}



@media (max-width: 600px) {
    
    #shop-list li {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #shop-list li a,
    #shop-list li form {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }

    #shop-list li form button,
    #shop-list li a {
        width: 100%;
        text-align: center;
    }
}

